<div id="headerDiv" style="border: 2px solid #343434; background-color: #1bee3f;width:99%;height:40px">
<center>
    <div style="position:fixed; height:100px;">

			<!--<img src="images/logotest2.gif" alt="Logo of Website name (Spoken English class over Phone/Vsee/Skype)">-->

<!--style="border: 2px solid #343434; background-color: #1bee3f;width:99%;height:40px"-->



		<header class="mainHeader">
			<!--<div>-->
			<!--<div class="site-logo-name"><img src="images/logotest1.gif" alt="Logo of Website name (Spoken English class over Phone/Vsee/Skype)">
				Website name
			 </div>-->
			<!-- <img src="images/logotest2.gif" alt="Logo of Website name (Spoken English class over Phone/Vsee/Skype)">-->
			<!--<h1>The website name goes here</h1>-->

			<!--</div>-->

					<h5>Website Name</h5>
			        <div class="navbar navbar-default">
					      <div class="navbar-inner">
					        <div class="container">
					        <div class="brand-menu">
					        <a class="brand" href="#"><img src="images/logo.png" alt="Logo of Website name (A few keywords for Search Engine Optimisation(SEO) here)"></a>

					          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					            Menu
					          </button>

					          </div>


					          <div class="nav-collapse collapse">
					            <ul class="nav">
					              <li class="logo">
									<img src="images/logo.png" alt="Logo of Website name (A few keywords for Search Engine Optimisation(SEO) here)">

					              </li>

					              <li class="">
					                <a href="/">Home</a>
					              </li>
					              <li class="">
					                <a href="#">Link2</a>
					              </li>
					              <li class="">
					                <a href="#">Link3</a>
					              </li>
					              <li class="">
					                <a href="#">Link4</a>
					              </li>
					              <li class="active">
					                <a href="#">Requirement</a>
					              </li>
					              <li class="">
					                <a href="#">Link6</a>
					              </li>
					              <li class="">
								  	<a href="#">Link7</a>
					              </li>
					              <li class="">
								  	<a href="#">Link8</a>
					              </li>
					              <li class="">
					                <a href="#">Link9</a>
					              </li>
					              <li class="">
								  	<a href="#">Link10</a>
								  </li>
								  <li class="">
								  	<a href="#">Link11</a>
					              </li>
					              <li class="">
								  	<a href="#">Link12</a>
								  </li>




					            </ul>
					         </div>
					        </div>
					      </div>
	   				 </div>
			</header>
		</div>
		</center>
</div>